.form-control{
    height: 22rem;
    width: 100%;
    border: 2px solid red;
    background: #3eaf2e;
    color: white;

}
form{
    margin-top: 2rem;
}
form .form-body{
    margin: auto;
    text-align: center;
    width: 200px;
    margin: auto;

}
.form-body>label{
    margin: 20px;
}
.form-body input{
    margin: 5px;
}
.form>button{
    margin-top: 10px;
}